/*Generales*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: "Baloo 2", cursive;
}

/*---Botones---*/
.btn{
  text-decoration: none;
  background-color: #2b303a;
  padding: 5px;
    color: whitesmoke;
}



/*----Header----*/
.header_site {
  background-color: #e86e01;
  position:  sticky relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.logo {
  background-image: url("../images/Logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 05em;
  

}
.navbar-brand{
  display: none;
  
  
}
.navbar-brand img{
  height: 150px;
}

.navbar-nav li a {
  text-decoration: none;
  color: #0d1b38;
  font-size: 20px;
  font-family: "Baloo 2", cursive;
}



/*---Main---*/
.banner {
  margin:10 0 30px;
}
.carousel-item{
  height: 200px;
  width: 100%;
}

.carousel-item img{
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

/*--promos--*/

.hero {
  text-align: center;
  margin-bottom: 30px;
}

.hero h2 {
  font-size: 2rem;
}

.card__promo__contenedor {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card__promo__contenedor .card__promo {
  display: flex;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  width: 450px;
  height: 220px;
}

.card__promo__img {
  width: 225px;
  height: 100%;
}

.card__promo__img img {
  width: 225px;
}

.card__promo__contenedor__descripcion {
  padding: 10px;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.card__descripcion p {
  font-size: 1.5rem;
  color: #888888;
}
.card__promo__contenedor__descripcion .btn{
  margin: 5px;
}

/*destinos*/
.destinos {
  text-align: center;
  margin-bottom: 30px;
}

.destinos h2 {
  font-size: 2rem;
  padding: 20px;
}

.destinos .contenedor__destinos {
  display: flex;
  justify-content: space-around;
}

.contenedor__destinos div a img {
  width: 450px;
  height: 600px;
  opacity: 0.6;
}

/*Informacion*/

.informacion {
  text-align: center;
}

.informacion__contenedor {
  display: flex;
  justify-content: space-around;
}

.informacion h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.informacion .informacion__contenedor div {
  border: 1px solid black;
  width: 350px;
  height: 300px;
  margin-bottom: 25px;
  padding: 10px;
  overflow: hidden;
}

.informacion div h3 {
  margin: 20px;
}

/*--nosotros--*/
.somos {
  text-align: center;
  
}
.somos__contenido{
  display: flex;
  justify-content: center;
  align-items: center;
}
.somos__contenido div h2{
  margin: 25px 0;
}
.somos div img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
/*--- formulario Contacto---*/


.background_form{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}



.contenedor__formulario {
  width: 400px;
  padding: 30px;
  margin: 100px;
  background-color: rgb(216, 17, 89,0.5);
  border-radius: 4px;
  z-index: 1;
}

.contenedor__formulario h2 {
  text-align: center;
  padding: 15px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px;
}

.contenedor__video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}


/*---Footer----*/

.footer_site {
  background-color: #00cecb;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  
}

.direccion ul {
  list-style: none;
  text-align: left;
  font-size: 15px;
  
}

.direccion ul li a{
  color: black;
  font-weight: bold;
}

.acerca ul{
  list-style: none;
  margin: 5px;
  padding: 0;
}

.acerca ul li {
  display: inline;
  padding: 2px;
}

.acerca ul li a img{
  width: 20px;
}

.destinos__footer ul{
  list-style: none;
  
}

.destinos__footer ul li a{
  text-decoration: none;
  color: black;
}

.copy{
  align-items: center;
}

.copy p{
  margin: 15px;
}


/*---media queries--*/

@media screen and (max-width: 768px) {
  .header_site {
  background-color: #e86e01;
  position:  relative;
  text-align: center;
  margin-bottom: 10px;
  
 
 
}
.navbar-brand{
  display: inline;
}
.logo {
 display: none;
  
}
  /* .header_site div img{
    width: 100%;
    height: auto;
  } */

/* .menu{
  display: none;
} */

/* .dropdown{
  text-align: left;
  display: block;
  margin: 5px;
} */
.card__promo__contenedor {
 flex-direction: column;

}
.card__promo{
  margin: 5px;

}
.destinos .contenedor__destinos {
  
  flex-direction: column;
 
  
}
.contenedor__destinos div{
  margin: 5px;
}

.informacion__contenedor{
  flex-direction: column;
}
}