

/*----header----*/
.header_site {
    background-color: #e86e01;
    position: sticky relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
    .menu ul {
            list-style: none;
        }
}