.titulo_paquetes{
    font-size: 3rem;
}
.paquete{
    background-color: grayscale($color: #ebe9e9);
    border-radius: 5px;
    box-shadow: -1px 1px gray;
    max-width:  80%;
   margin: auto;
   .contenedor_paquete{
    display: flex;
    flex-direction: row;
    padding: 0;
    .img_paquete{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    overflow: hidden;
    width: 320px;
    height: 218px;
    position: relative;
    text-align: center;
    border-radius: 5px 0 0 5px;
   
    }
    .paquete_info_contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    align-self: stretch;
    .info_paquete{
        div{
            font-weight: 300;
            font-size: 20px;
            
            
        }

        }
    }
    
    .precio_paquete{
        text-align: center;
        .precio{
            margin-top:5px;
            font-size: 18px;
            color:#4285f4;
            font-weight: 700;


            span{
                font-size: 24px;
               

            }
        }
    }
    
   }
}